{% if template != 'cart' %}
<div class="cart-fixed" id="cart">
    <div class="js-close-card"></div>
    <div class="cart-fixed__wrap">
        {%liquid
          if cart.item_count <= 0
            assign hidden = 'd-none'
          else
            assign hidden = ''
          endif
        %}
        <div class="cart-popup-wrap {{ hidden }}">
            <p class="text-center"><strong>Total <span class="cart-total-price">{{ cart.total_price | money }}</span></strong></p>
            <div class="btn-payment"><a href="/checkout"><i class="fa fa-lock"></i>Proceed to Payment</a></div>
            <p class="text-center"><span class="cart-count">{{ cart.item_count }}</span> Products in cart</p>
            <div class="cart-popup-items">
                {% for item in cart.items %}
                    <div class="shipping__item" data-line-id="{{ item.id }}">
                        <div class="row">
                            <div class="col-sm-4">
                                {% if item.image != blank %}
                                  <div class="cart-img">{{ item.image | image_url: width: 143, crop: 'center' | image_tag: loading: 'lazy', alt: item.title  }}</div>
                                {% else %}
                                  {% render 'icon-unavailable' %}
                                {% endif %}
                            </div>
                            <div class="col-sm-6">
                                <a href="{{ item.url }}" class="ttl">{{ item.title }}</a>
                                <!-- TODO -->
                                <!-- <div class="btn-view">
            						<a href="javascript:void(0)" onclick="toggleDetail(this)">View Detail</a>
                                </div>
                                <div class="view-more">
                                    <p><strong>Lenght:</strong>7mm</p>
                                    <p><strong>Titanium Color:</strong>Yellow - 60-63 Volt</p>
                                    <p class="qtybox"><strong>Quantity:</strong><input type="text" class="qty" value="{{ item.quantity }}"></p>
                                </div> -->
                            </div>
                            <div class="col-sm-2">
                                <p class="price">{{ item.price | money }}</p>
                                <div class="btn-link-gray">
                                    <a href="javascript:void(0)" onclick="onDelete(this)" data-id="{{ item.id }}"><i class="fa fa-trash"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="btn-link-text text-center cart-btn">
            {% liquid
            if cart.item_count > 0
                echo 'View and Edit Cart' | link_to: '/cart'
            else
                render 'icon-cart-empty'
                echo 'Continuing shopping' | link_to: '/collections'
            endif
          %}
        </div>
    </div>
</div>
<div class="cart-bg"></div>
<script type="text/javascript">
async function removeItem(data) {
    return await fetch("/cart/change.json", {
        method: "POST",
        headers: {
            "Content-Type": "application/json",
            "Accept": "application/json"
        },
        body: JSON.stringify({
            ...data,
            quantity: 0
        })
    });
}
async function getItem() {
    return await fetch("/cart.json");
}
function addToCart(e) {
    var _e = e.cloneNode(!0),
        parent = e.parentElement;
    parent.innerHTML = `{% render 'icon-loading' %}`;
    var data = {
        id: e.dataset.variantId,
        quantity: document.querySelector('input[name=quantity]') ? document.querySelector('input[name=quantity]').value : 1
    };
    addItem(data.id, data.quantity).then(res => {
        getItem()
            .then(res => res.json())
            .then(data => {
                refreshCart(data);
                parent.innerHTML = '';
                parent.appendChild(_e);
                openCart();
            });
    });
}
function onDelete(e){
    var id = e.dataset.id;
    e.parentElement.innerHTML = `{% render 'icon-loading' %}`;
    removeItem({id: id}).then(res => {
        if (res.status == 200) {
            getItem()
                .then(res => res.json())
                .then(data => {
                    refreshCart(data);
                });
        }    
    });
}
function openCart() {
    cart.target.classList.add('is-show');
    cart.screen.classList.add('is-show');
}
function closeCart() {
    cart.target.classList.remove('is-show');
    cart.screen.classList.remove('is-show');
}
function refreshCart(data) {
    if (parseInt(data.item_count) <= 0) {
        cart.action.innerHTML = `{% render 'icon-cart-empty' %}{{ 'Continuing shopping' | link_to: '/collections' }}`;
        cart.items.innerHTML = '';
        document.querySelector('.cart-popup-wrap').classList.add('d-none');
    } else {
        cart.action.innerHTML = `{{ 'View and Edit Cart' | link_to: '/cart' }}`;
        var result = ``;
        data.items.forEach(e => {
            var price = Shopify.formatMoney(e.price);
            result += `
            <div class="shipping__item">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="cart-img">
                            <img src="${e.image}" alt="${e.title}">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <a href="${e.url}" class="ttl">${e.title}</a>
                        <div class="btn-view">
                            <a href="javascript:void(0)" onclick="toggleDetail(this)">View Detail</a>
                        </div>
                        <div class="view-more">
                            <p><strong>Lenght:</strong>7mm</p>
                            <p><strong>Titanium Color:</strong>Yellow - 60-63 Volt</p>
                            <p class="qtybox"><strong>Quantity:</strong><input type="text" class="qty" value="${e.quantity}"></p>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <p class="price">${price}</p>
                        <div class="btn-link-gray">
                            <a href="javascript:void(0)" onclick="onDelete(this)" data-id="${e.id}"><i class="fa fa-trash"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            `;
        });
        cart.items.innerHTML = result;
        document.querySelector('.cart-popup-wrap').classList.remove('d-none');
        document.querySelector('.cart-total-price').innerText = Shopify.formatMoney(data.total_price);
        document.querySelector('.cart-count').innerText = data.item_count;
    }
}
function toggleDetail(e) {
    e.classList.toggle('is-active');
    var next = e.parentElement.nextElementSibling;

    if (next.style.display === '' || next.style.display === 'none') {
        next.style.display = "block";
    } else {
        next.style.display = 'none';
    }
}
var cart = {
    list: document.querySelector('.js-cart'),
    items: document.querySelector('.cart-popup-items'),
    target: document.querySelector('#cart'),
    screen: document.querySelector('.cart-bg'),
    closes: document.querySelector('.js-close-card'),
    action: document.querySelector('.cart-btn')
};
cart.list.addEventListener('click', e => {
    e.preventDefault();
    openCart();
});
cart.closes.addEventListener('click', () => {
    closeCart();
});
</script>
{% endif %}
<script type="text/javascript">
async function addItem(variantId, quantity) {
    return await fetch("/cart/add.json", {
        method: "POST",
        headers: {
            "Content-Type": "application/json",
            "Accept": "application/json"
        },
        body: JSON.stringify({
            id: variantId,
            quantity: quantity
        })
    })
}
</script>