{%- form 'customer_address', customer.new_address, aria-labelledBy: 'AddressNewHeading', id: 'address_form_new' -%}
    <div class="shipping__form">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="AddressFirstName_new">{{ 'customer.addresses.first_name' | t }}</label>
                    <input 
                        id="AddressFirstName_new"
                        type="text"
                        name="address[first_name]" 
                        class="form-control form-control-line" 
                        autocomplete="given-name" 
                        data-required="true"
                    />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="AddressLastName_new">{{ 'customer.addresses.last_name' | t }}</label>
                    <input 
                        id="AddressFirstName_new"
                        type="text"  
                        name="address[last_name]" 
                        class="form-control form-control-line"
                        autocomplete="family-name" 
                        data-required="true" 
                    />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="AddressCompany_new">{{ 'customer.addresses.company' | t }}</label>
                    <input 
                        id="AddressCompany_new"
                        type="text"  
                        name="address[company]" 
                        class="form-control form-control-line"
                        autocomplete="organization" 
                        data-required="true" 
                    />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="AddressAddress1_new">{{ 'customer.addresses.address1' | t }}</label>
                    <input 
                        id="AddressAddress1_new"
                        type="text"  
                        name="address[address1]" 
                        class="form-control form-control-line"
                        autocomplete="address-line1" 
                        data-required="true" 
                    />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="AddressAddress2_new">{{ 'customer.addresses.address2' | t }}</label>
                    <input 
                        id="AddressAddress2_new"
                        type="text"  
                        name="address[address2]" 
                        class="form-control form-control-line"
                        autocomplete="address-line2" 
                        data-required="true" 
                    />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="AddressCity_new">{{ 'customer.addresses.city' | t }}</label>
                    <input 
                        id="AddressCity_new"
                        type="text"  
                        name="address[city]" 
                        class="form-control form-control-line"
                        autocomplete="address-level2" 
                        data-required="true" 
                    />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="AddressCountry_new">{{ 'customer.addresses.country' | t }}</label>
                    <select 
                        onchange="GenerateProvices(this, 'new')"
                        id="AddressCountry_new" 
                        name="address[country]" 
                        class="form-control form-control-line" 
                        data-address-country-select 
                        data-address-id="new" 
                        data-default="{{ localization.country }}" 
                        autocomplete="country">
                        {{ all_country_option_tags }}
                    </select>
                </div>
            </div>
            <div class="col-md-6 address-province d-none">
                <div class="form-group">
                    <label for="AddressProvinceContainer_new">{{ 'customer.addresses.province' | t }}</label>
                    <select 
                        id="AddressProvinceContainer_new" 
                        name="address[province]" 
                        class="form-control form-control-line" 
                        autocomplete="address-level1">
                        {{ all_country_option_tags }}
                    </select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="AddressZip_new">{{ 'customer.addresses.zip' | t }}</label>
                    <input 
                        id="AddressZip_new"
                        type="text"  
                        name="address[zip]" 
                        class="form-control form-control-line"
                        autocomplete="postal-code" 
                        data-required="true" 
                    />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="AddressPhone_new">{{ 'customer.addresses.phone' | t }}</label>
                    <input 
                        id="AddressPhone_new"
                        type="text"  
                        name="address[phone]" 
                        class="form-control form-control-line"
                        autocomplete="tel" 
                        data-required="true" 
                    />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" name="address[default]" class="custom-control-input" id="address_default_address_new" data-required="true">
                        <label class="custom-control-label" for="address_default_address_new">{{ 'customer.addresses.default' | t }}</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="shipping__btn row">
        <div class="col-sm-6">
            <div class="shipping__btn btn-submit">
                <div class="btn-payment"><a href="javascript: document.querySelector('form#address_form_new').submit()">{{ 'customer.addresses.edit' | t }}</a></div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="shipping__btn">
                <div class="btn-back"><a href="javascript:void(0)" onclick="onCancelEditForm('new')">{{ 'customer.addresses.cancel' | t }}</a></div>
            </div>
        </div>
    </div>
{%- endform -%}