<div class="shipping__form">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="AddressFirstName_{{ address.id }}">First name</label>
                <input 
                    id="AddressFirstName_{{ address.id }}"
                    type="text"
                    name="address[first_name]" 
                    value="{{ address.first_name }}" 
                    class="form-control form-control-line" 
                    autocomplete="given-name" 
                    data-required="true"
                />
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="AddressLastName_{{ address.id }}">Last Name</label>
                <input 
                    id="AddressFirstName_{{ address.id }}"
                    type="text"  
                    name="address[last_name]" 
                    value="{{ address.last_name }}" 
                    class="form-control form-control-line"
                    autocomplete="family-name" 
                    data-required="true" 
                />
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="AddressCompany_{{ address.id }}">Company</label>
                <input 
                    id="AddressCompany_{{ address.id }}"
                    type="text"  
                    name="address[company]" 
                    value="{{ address.company }}"
                    class="form-control form-control-line"
                    autocomplete="organization" 
                    data-required="true" 
                />
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="AddressAddress1_{{ address.id }}">Address</label>
                <input 
                    id="AddressAddress1_{{ address.id }}"
                    type="text"  
                    name="address[address1]" 
                    value="{{ address.address1 }}"
                    class="form-control form-control-line"
                    autocomplete="address-line1" 
                    data-required="true" 
                />
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="AddressAddress2_{{ address.id }}">Apartment</label>
                <input 
                    id="AddressAddress2_{{ address.id }}"
                    type="text"  
                    name="address[address2]" 
                    value="{{ address.address2 }}"
                    class="form-control form-control-line"
                    autocomplete="address-line2" 
                    data-required="true" 
                />
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="AddressCity_{{ address.id }}">City</label>
                <input 
                    id="AddressCity_{{ address.id }}"
                    type="text"  
                    name="address[city]" 
                    value="{{ address.address2 }}"
                    class="form-control form-control-line"
                    autocomplete="address-level2" 
                    data-required="true" 
                />
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="AddressCountry_{{ address.id }}">Country</label>
                <select 
                    id="AddressCountry_{{ address.id }}" 
                    name="address[country]" 
                    data-address-country-select data-default="{{ address.country }}" 
                    data-address-id="{{ address.id }}" 
                    autocomplete="country">
                    {{ all_country_option_tags }}
                </select>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="AddressProvinceContainer_{{ address.id }}">Province</label>
                <select 
                    id="AddressProvinceContainer_{{ address.id }}" 
                    name="address[province]" 
                    data-default="{{ address.province }}" 
                    autocomplete="address-level1">
                    {{ all_country_option_tags }}
                </select>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="AddressZip_{{ address.id }}">Postal Code/Zip</label>
                <input 
                    id="AddressZip_{{ address.id }}"
                    type="text"  
                    name="address[zip]" 
                    value="{{ address.zip }}"
                    class="form-control form-control-line"
                    autocomplete="postal-code" 
                    data-required="true" 
                />
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="AddressPhone_{{ address.id }}">Phone</label>
                <input 
                    id="AddressPhone_{{ address.id }}"
                    type="text"  
                    name="address[phone]" 
                    value="{{ address.phone }}"
                    class="form-control form-control-line"
                    autocomplete="tel" 
                    data-required="true" 
                />
            </div>
        </div>
    </div>
</div>