<div class="cart-fixed LoginPopup" id="customer-login">
    <div class="js-close-card" onclick="closeLoginPopup(this)"></div>
    <div class="cart-fixed__wrap">
        <form method="post" action="/{{ request.locale.iso_code }}/account/login" id="customer_login" accept-charset="UTF-8">
            <div class="form-login">
                <p class="text-center"><strong class="LoginType">{{ 'customer.log_in' | t }}</strong></p>
                <p class="text-center">{{ 'customer.log_in_for' | t }}:</p>
                <div id="ErrDiv"></div>
                <input type="hidden" name="form_type" value="customer_login">
                <div class="form-group">
                    <input type="email" class="form-control form-control-line" name="customer[email]" placeholder="Email" data-required="true">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control form-control-line" name="customer[password]" placeholder="{{ 'customer.login_page.password' | t }}" data-required="true">
                </div>
                <div class="form-group text-center btn-payment">
                    <a href="javascript:void(0)" class="btn-yellow btn-submit btn-disabled" onclick="onLoginSubmit(this)">{{ 'customer.login_page.sign_in' | t }}</a> 
                </div>
                <div class="text-center">
                    <a href="javascript:void(0);" onclick="Login.ShowForgot(this);">{{ 'customer.login_page.forgot_password' | t }}</a>
                </div>
                <p class="text-center">{{ 'customer.login_page.new' | t }} {{ 'customer.login_page.create_account' | t | link_to: routes.account_register_url }}</p>
            </div>
        </form>
        <form method="post" class="d-none" action="/{{ request.locale.iso_code }}/account/recover" id="forgot_password" accept-charset="UTF-8">
            <p class="text-center"><strong class="LoginType">{{ 'customer.login_page.forgot_password' | t }}</strong></p>
            <p class="text-center">{{ 'customer.login_page.forgot_password_sub' | t }}:</p>
            <div class="form-group" id="recover_email">
                <input type="email" class="form-control form-control-line" id="recover-email" name="email" placeholder="Email" data-required="true">
            </div>
            <div class="form-group text-center btn-payment">
                <div class="row">
                    <div class="col-sm-6"><a href="javascript:void(0)" class="btn-yellow btn-submit" onclick="Login.Forgot.submit();">{{ 'customer.login_page.submit' | t }}</a> </div>
                    <div class="col-sm-6 btn-back"><a href="javascript:void(0)" onclick="Login.ShowLogin(this);">{{ 'customer.login_page.cancel' | t }}</a> </div>
                </div>
            </div>
        </form>
    </div>
</div>
<style type="text/css">
#ErrDiv {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
}
.btn-disabled {
    pointer-events: none;
    background: gray !important;
}
</style>
<script type="text/javascript">
var Login = {
    Sign: document.querySelector('form#customer_login'),
    Forgot: document.querySelector('form#forgot_password')
};

Login.ShowForgot = e => {
    Login.Sign.classList.add('d-none');
    Login.Forgot.classList.remove('d-none');
};

Login.ShowLogin = e => {
    Login.Sign.classList.remove('d-none');
    Login.Forgot.classList.add('d-none');
};

(Login.Disabled = { email: !0, password: !0 }),
    window.addEventListener("load", (a) => {
        var i, h = ``;
        if ((i = window.location.hash)) {
            var o = i.split('#')[1];
            switch (o) {
                case "forgotSuccess":
                    h = `
                        <p class="text-center"><strong class="LoginType">{{ 'customer.login_page.forgot_password' | t }} </strong></p>
                        <div class="text-center" style="width: 10%; margin: auto;">
                            <svg aria-hidden="true" focusable="false" role="presentation" viewBox="0 0 13 13">
                                <path d="M6.5 12.35C9.73087 12.35 12.35 9.73086 12.35 6.5C12.35 3.26913 9.73087 0.65 6.5 0.65C3.26913 0.65 0.65 3.26913 0.65 6.5C0.65 9.73086 3.26913 12.35 6.5 12.35Z" fill="#428445" stroke="white" stroke-width="0.7"></path>
                                <path d="M5.53271 8.66357L9.25213 4.68197" stroke="white"></path>
                                <path d="M4.10645 6.7688L6.13766 8.62553" stroke="white"></path>
                            </svg>
                        </div>
                        <div class="form-group text-center btn-back" style="width: 200px; margin: auto; margin-top: 20px;">
                            <a href="javascript:void(0)" onclick="Login.ShowLogin(this);">{{ 'customer.login_page.back' | t }}</a>
                        </div>
                    `;
                    Login.Forgot.innerHTML = h;
                    Login.ShowForgot();
                    showLoginPopup();
                    break;
                default:
                    break;
            }
        }
        (Login.Form = document.querySelector("#customer_login")),
            (Login.Required = Login.Sign.querySelectorAll("input[data-required=true]")),
            Login.Required.forEach((a) => {
                a.addEventListener("keyup", (b) => {
                    var a = b.target,
                        c = a.type;
                    switch (c) {
                        case "email":
                            Login.Disabled.email = !a.value.length || !/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(a.value);
                            break;
                        case "password":
                            Login.Disabled.password = !a.value.length;
                    }
                    (Login.SubmitButton = Login.Form.querySelector(".btn-submit")), Login.Disabled.email || Login.Disabled.password ? Login.SubmitButton.classList.add("btn-disabled") : Login.SubmitButton.classList.remove("btn-disabled");
                });
            });
    });
var WrapLoginFrom = document.querySelector("#customer-login"),
    Background = document.querySelector(".cart-bg");
function showLoginPopup(a) {
    WrapLoginFrom.classList.add("is-show"), Background.classList.add("is-show");
}
function closeLoginPopup(a) {
    WrapLoginFrom.classList.remove("is-show"), Background.classList.remove("is-show");
}
async function onLoginSubmit(b) {
    var c = b.cloneNode(!0),
        a = b.parentElement,
        d = new FormData(Login.Form),
        e = {};
    d.forEach(function (a, b) {
        e[b] = a;
    }),
        (a.innerHTML = `{%- render 'icon-loading' -%}`);
    try {
        await fetch(window.server.host + "/wp-json/tatoo/action/verify-login", { method: "POST", headers: { "Content-Type": "application/json", Accept: "application/json" }, body: JSON.stringify(e) })
            .then((a) => a.json())
            .then((a) => {
                if (a.err) {
                    var b = `<span style="margin-left: 5px; color: red; font-size: 12px;">${a.message}</span>`;
                    throw ((document.querySelector("#ErrDiv").innerHTML = `{%- render 'icon-warning' -%}` + b), a.code);
                }
                Login.Form.submit();
            });
    } catch (f) {
        console.log(f), (a.innerHTML = ""), a.appendChild(c);
    }
}
</script>