<section class="section-content-first">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="menu-profile-wrap">
                    <ul class="menu-profile">
                        <li>
                            <a href="javascript: void(0);" onclick="Account.SwitchTab(this);" data-tab="dashboard">
                                <span class="icon"><i class="fa fa-user" aria-hidden="true"></i></span>{{ 'templates.account.dashboard.title' | t }}
                            </a>
                        </li>
                        <li>
                            <a href="javascript: void(0);" onclick="Account.SwitchTab(this);" data-tab="orders">
                                <span class="icon"><i class="fa fa-shopping-cart" aria-hidden="true"></i></span>{{ 'templates.account.order.title' | t }}
                            </a>
                        </li> 
                        <li>
                            <a href="javascript: void(0);" onclick="Account.SwitchTab(this);" data-tab="payment">
                                <span class="icon"><i class="fa fa-credit-card-alt" aria-hidden="true"></i></span>{{ 'templates.account.payment.title' | t }}
                            </a>
                        </li>
                        <li>
                            <a href="javascript: ((localStorage.removeItem('Customer_Mode')), (window.location.href = '{{ routes.account_logout_url }}'));">
                            <span class="icon"><i class="fa fa-sign-out" aria-hidden="true"></i></span>{{ 'customer.log_out' | t }}</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="profile-content" data-tab="dashboard">
                    <h3 class="ttl-4">{{ 'templates.account.dashboard.title' | t }}</h3>
                    <div class="profile-content-item">
                        <h3 class="ttl-5">{{ 'templates.account.dashboard.information' | t }}</h3>   
                        <div class="row">
                            <div class="col-sm-6">
                                <p><strong>{{ 'templates.account.dashboard.contact_information' | t }}</strong></p>
                                <div class="ProfileChangePassword d-none">
                                    <div class="form-group">
                                        <input type="password" name="password" id="password" class="form-control form-control-line" data-required="true" placeholder="*{{ 'templates.account.dashboard.password' | t }}">
                                    </div>
                                    <div class="form-group">
                                        <input type="password" name="passwordConfirm" id="confirmPassword" class="form-control form-control-line" data-required="true" placeholder="*{{ 'templates.account.dashboard.password_confirm' | t }}">
                                    </div>
                                </div>
                                <div class="ProfileShowData">
                                    <p class="customer-name">{{ customer.name }}</p>
                                    <p class="customer-email">{{ customer.email }}</p>    
                                </div>
                                <div class="btn-text d-flex">
                                    <a 
                                        href="javascript: void(0);" 
                                        class="ProfileChangePasswordBtn" 
                                        onclick="Account.ChangePassword(this);" 
                                        data-type="password">{{ 'templates.account.dashboard.change_passord' | t }}</a>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <!-- TODO -->
                                <p><strong>Newsletters</strong></p>
                                <div class="ProfileNewsletter">
                                    {%- render 'icon-loading' -%}    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="profile-content-item">
                        <h3 class="ttl-5">{{ 'templates.account.dashboard.address_book' | t }}</h3>
                        <div class="wrap-list-address">
                            <div class="row">
                                <div class="col-sm-6" id="default-address">
                                    <p><strong>{{ 'templates.account.dashboard.address_default' | t }}</strong></p>
                                    {%- if customer.default_address != blank -%}
                                        {{ customer.default_address | format_address }}
                                        <div class="btn-text d-flex" data-address-id="{{ customer.default_address.id }}" data-address='{{ customer.default_address | json }}'>
                                            <a href="javascript:void(0)" onclick="ShowEditForm(this)">{{ 'templates.account.dashboard.edit' | t }}</a>
                                        </div>
                                    {%- else -%}
                                        <p>{{ 'templates.account.dashboard.no_defailt' | t }}.</p>
                                    {%- endif -%}
                                </div>
                                <div class="col-sm-6 list-address"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="profile-content d-none" data-tab="orders">
                    <h3 class="ttl-4">{{ 'templates.account.order.tab_title' | t }}</h3>
                    <div class="profile-content-item">
                        {%- if customer.orders_count > 0 -%}
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>{{ 'customer.order.title' | t }}</th>
                                        <th>{{ 'customer.order.total' | t }}</th>
                                        <th>{{ 'customer.order.payment_status' | t }}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {%- for order in customer.orders -%}
                                    <tr>
                                        <td>{{ order.id }}</td>
                                        <td>{{ order.name }}</td>
                                        <td>{{ order.total_price | money }}</td>
                                        <td>{{ order.financial_status_label }}</td>
                                    </tr>
                                    {%- endfor -%}
                                </tbody>
                            </table>
                        {%- else -%}
                            {{ 'customer.orders.none' | t }}, {{ 'customer.orders.order_now' | t | link_to: routes.collections_url }}
                        {%- endif-%}
                    </div>
                </div>
                <div class="profile-content d-none" data-tab="payment">
                    <h3 class="ttl-4">{{ 'templates.account.payment.title' | t }}</h3>
                    <div class="profile-content-item">
                        <h3 class="ttl-5">{{ 'templates.account.payment.point' | t }}</h3>
                        <div class="row">
                            <div class="col-sm-6">
                                <p>{{ 'templates.account.payment.total' | t }}: <span class="ProfilePoints"></span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<style type="text/css">
.table td, .table th {
    border-top:  none !important;
}
</style>
<script type="text/javascript">
'use strict';
var Account = {
    Tabs: document.querySelectorAll('.profile-content'),
    Points: document.querySelector('.ProfilePoints'),
    Newsletter: document.querySelector('.ProfileNewsletter'),
    ProfileChangeBtn: document.querySelector('.ProfileChangePasswordBtn'),
};

Account.SwitchTab = e => {
    var t = e.getAttribute('data-tab');
    Account.Tabs.forEach(i => {
        if (i.getAttribute('data-tab') == t) i.classList.remove('d-none');
        else i.classList.add('d-none');
    });
};

// Password
Account.ChangePassword = async e => {
    var type = e.getAttribute('data-type'), 
        p = document.querySelector('.ProfileChangePassword'), 
        d = document.querySelector('.ProfileShowData');

    switch (type) {
        case 'password':
            p.classList.remove('d-none');
            d.classList.add('d-none');
            e.parentElement.insertAdjacentHTML('afterbegin', `<a href="javascript: void(0);" onclick="Account.SubmitChangePassword(this);">{{ 'templates.account.dashboard.edit' | t }}</a>`);
            break;
        case 'data':
            p.classList.add('d-none');
            d.classList.remove('d-none');
            e.parentElement.firstElementChild.remove();
            break;
    }

    e.innerText = 'password' == type ? `{{ 'templates.account.dashboard.close' | t }}` : `{{ 'templates.account.dashboard.change_passord' | t }}`;
    e.setAttribute('data-type', 'password' == type ? 'data' : 'password');
};
Account.SubmitChangePassword = async (e) => {
    try {
        var fields = document.querySelectorAll('input[name=password], input[name=passwordConfirm]');
        fields.forEach(i => {
            i.style.borderColor = '#ACB1C6';

            if (!i.value) {
                i.style.borderColor = 'red';
                throw 'RequiredErr';    
            }
        });

        if (fields[0].value.length < 8) {
            fields[0].style.borderColor = 'red';
            throw 'pwdAtLeast';
        }

        if ((fields[1].style.borderColor = '#ACB1C6'), fields[0].value !== fields[1].value) {
            fields[1].style.borderColor = 'red';
            throw 'PasswordNotCompare';
        }

        e.parentElement.innerHTML = `{%- render 'icon-loading' -%}`;
        var res = await fetch(window.server.host + '/wp-json/tatoo/action/edit-user', {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
                "Accept": "application/json"
            },
            body: JSON.stringify({
                email: `{{ customer.email }}`,
                field: 'password',
                password: fields[0].value,
                password_confirm: fields[1].value,
                customer_id: `{{ customer.id }}`
            })
        });

        if (res.err) {
            e.parentElement.innerHTML = `<a href="javascript: void(0);" onclick="Account.SubmitChangePassword(this);">{{ 'templates.account.dashboard.edit' | t }}</a>`;
            throw res.message;
        }

        location.reload();
    } catch(e) {
        console.log(e);
    }
};

// Newsletter
Account.SubscribeNewsletter = async e => {
    e.parentElement.innerHTML = `{%- render 'icon-loading' -%}`;

    await fetch(window.server.host + '/wp-json/tatoo/action/edit-user', {
        method: "POST",
        headers: {
            "Content-Type": "application/json",
            "Accept": "application/json"
        },
        body: JSON.stringify({
            email: `{{ customer.email }}`,
            field: 'newsletter',
            value: e.getAttribute('data-action')
        })
    });

    location.reload();
};

document.addEventListener('Sync', () => {
    var n;
    void 0 != Shopify.User &&
        ((n = Shopify.User.newsletter 
            ? `
                <p>{{ 'templates.account.newsletter.yes' | t }}.</p>
                <div class="btn-text d-flex">
                    <a href="javascript: void(0);" onclick="Account.SubscribeNewsletter(this);" data-action="remove">{{ 'templates.account.newsletter.remove' | t }}</a>
                </div>
            ` 
            : `
                <p>{{ 'templates.account.newsletter.no' | t }}.</p>
                <div class="btn-text d-flex">
                    <a href="javascript: void(0);" onclick="Account.SubscribeNewsletter(this);" data-action="subscribe">{{ 'templates.account.newsletter.subscribe' | t }}</a>
                </div>
            `
        ), Account.Newsletter.innerHTML = n), Account.Points.innerText = Shopify.User.points.total;

});

window.addEventListener("load", async (b) => {
    if (
        ((Account.Content = document.querySelector(".profile-content")),
        (Account.Address = `{{ customer.addresses | json }}`),
        (Account.ListAddress = Account.Content.querySelector(".list-address")),
        (Account.WrapListAddress = Account.Content.querySelector(".wrap-list-address")),
        Account.Address)
    ) {
        var a = `<p><strong>{{ 'templates.account.dashboard.list_address' | t }}</strong></p>`;
        JSON.parse(Account.Address).forEach((b) => {
            let d = JSON.stringify(b);
            if (!b.default) {
                var c = [];
                c.push(b.name),
                    c.push(b.company),
                    c.push(b.address1),
                    c.push(b.address2),
                    c.push(`${b.city || ''} ${b.province_code || ''} ${b.zip || ''}`),
                    c.push(b.country),
                    (a += c.join("<br/>")),
                    (a += `
                    <div class="btn-text d-flex" data-address-id="${b.id}" data-address='${d}'>
                        <a href="javascript:void(0)" onclick="ShowEditForm(this)">{{ 'templates.account.dashboard.edit' | t }}</a>
                    </div>
                    <hr/>
                `);
            }
        }),
            (Account.ListAddress.innerHTML = a);
    } else
        Account.ListAddress.innerHTML = `
            <p>{{ 'templates.account.dashboard.no_default' | t }}.</p>
            <div class="btn-text d-flex">
                <a href="javascript:void(0)">{{ 'templates.account.dashboard.new' | t }}</a>
            </div>
        `;
});
const ShowEditForm = async (a) => {
    var d,
        e,
        b = a.parentElement.dataset.addressId;
    await Account.WrapListAddress.insertAdjacentHTML("beforeend", GenerateEditForm(JSON.parse(a.parentElement.dataset.address))), (Account.WrapListAddress.firstElementChild.style.display = "none");
    var c = Account.Content.querySelector(`#AddressCountry_${b}`);
    c && (await SelectedCountry(c, b));
},
onCancelEditForm = (a) => {
    document.querySelector(`form#address_form_${a}`) && document.querySelector(`form#address_form_${a}`).remove(), (Account.WrapListAddress.firstElementChild.style.display = "flex");
},
GenerateProvices = (a, e) => {
    var b = a.options[a.selectedIndex].getAttribute("data-provinces"),
        c = Account.Content.querySelector(`#AddressProvinceContainer_${e}`),
        d = c.closest(".address-province");
    (c.innerHTML = ""),
        JSON.parse(b).length
            ? (JSON.parse(b).forEach((b) => {
                  var a = document.createElement("option");
                  (a.value = b[0]), (a.selected = c.dataset.default == b[0]), (a.innerHTML = b[1]), c.appendChild(a);
              }),
              d.classList.remove("d-none"))
            : d.classList.add("d-none");
},
SelectedCountry = (a, e) => {
    for (var c = a.dataset.default, b = 0; b <= a.options.length; b++) {
        var d = a.options[b];
        if (c == d.value || c == d.innerHTML) {
            a.selectedIndex = b;
            break;
        }
    }
    GenerateProvices(a, e);
},
GenerateEditForm = (b) => {
    var c,
        a = b.id;
    return `
    <form method="post" action="/account/addresses/${a}" id="address_form_${a}" accept-charset="UTF-8">
        <input type="hidden" name="form_type" value="customer_address">
        <input type="hidden" name="utf8" value="✓">

        <div class="shipping__form">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="AddressFirstName_${a}">First name</label>
                        <input 
                            id="AddressFirstName_${a}"
                            type="text"
                            name="address[first_name]" 
                            value="${b.first_name}" 
                            class="form-control form-control-line address_form" 
                        />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="AddressLastName_${a}">Last Name</label>
                        <input 
                            id="AddressLastName_${a}"
                            type="text"  
                            name="address[last_name]" 
                            value="${b.last_name}" 
                            class="form-control form-control-line address_form"
                        />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="AddressCompany_${a}">Company</label>
                        <input 
                            id="AddressCompany_${a}"
                            type="text"  
                            name="address[company]" 
                            value="${b.company}"
                            class="form-control form-control-line address_form"
                        />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="AddressAddress1_${a}">Address</label>
                        <input 
                            id="AddressAddress1_${a}"
                            type="text"  
                            name="address[address1]" 
                            value="${b.address1}"
                            class="form-control form-control-line address_form"
                        />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="AddressAddress2_${a}">Apartment</label>
                        <input 
                            id="AddressAddress2_${a}"
                            type="text"  
                            name="address[address2]" 
                            value="${b.address2}"
                            class="form-control form-control-line address_form"
                        />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="AddressCity_${a}">City</label>
                        <input 
                            id="AddressCity_${a}"
                            type="text"  
                            name="address[city]" 
                            value="${b.address2}"
                            class="form-control form-control-line address_form"
                        />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="AddressCountry_${a}">Country<span class="txt-error">*</span></label>
                        <select 
                            onchange="GenerateProvices(this, ${a})"
                            id="AddressCountry_${a}" 
                            name="address[country]" 
                            class="form-control form-control-line address_form" 
                            data-default="${b.country}" 
                            data-address-id="${a}" 
                            autocomplete="country">
                            {{ all_country_option_tags }}
                        </select>
                    </div>
                </div>
                <div class="col-md-6 address-province d-none">
                    <div class="form-group">
                        <label for="AddressProvinceContainer_${a}">Province<span class="txt-error">*</span></label>
                        <select 
                            id="AddressProvinceContainer_${a}" 
                            name="address[province]" 
                            class="form-control form-control-line" 
                            data-default="${b.province}">
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="AddressZip_${a}">Postal Code/Zip</label>
                        <input 
                            id="AddressZip_${a}"
                            type="text"  
                            name="address[zip]" 
                            value="${b.zip}"
                            class="form-control form-control-line"
                            autocomplete="postal-code" 
                            data-required="true" 
                        />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="AddressPhone_${a}">Phone</label>
                        <input 
                            id="AddressPhone_${a}"
                            type="text"  
                            name="address[phone]" 
                            value="${b.phone}"
                            class="form-control form-control-line"
                            autocomplete="tel" 
                            data-required="true" 
                        />
                    </div>
                </div>
            </div>
        </div>
        <div class="shipping__btn row">
            <div class="col-sm-6">
                <div class="shipping__btn btn-submit">
                    <div class="btn-payment"><a href="javascript: document.querySelector('form#address_form_${b.id}').submit()">Edit</a></div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="shipping__btn">
                    <div class="btn-back"><a href="javascript:void(0)" onclick="onCancelEditForm(${a})">Back</a</div>
                </div>
            </div>
        </div>
        <input type="hidden" name="_method" value="put"></form>
    </form>
`;
};

</script>