<section class="section-content-first">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="menu-profile-wrap">
                    <ul class="menu-profile">
                        <li><a href=""><span class="icon"><i class="fa fa-user"
                                        aria-hidden="true"></i></span>Account Dashboard</a></li>
                        <li><a href=""><span class="icon"><i class="fa fa-shopping-cart"
                                        aria-hidden="true"></i></span>My orders</a></li>
                        <li><a href=""><span class="icon"><i class="fa fa-heart"
                                        aria-hidden="true"></i></span>Wish List</a></li>
                        <li><a href=""><span class="icon"><i class="fa fa-id-card-o"
                                        aria-hidden="true"></i></span>Store Credit</a></li>
                        <li><a href=""><span class="icon"><i class="fa fa-credit-card-alt"
                                        aria-hidden="true"></i></span>Payment Data</a></li>
                        <li><a href="{{ routes.account_logout_url }}"><span class="icon"><i class="fa fa-sign-out" aria-hidden="true"></i></span>Log Out</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="profile-content">
                    <h3 class="ttl-4">Account Dashboard</h3>
                    <div class="profile-content-item">
                        <h3 class="ttl-5">Account Infomation</h3>
                        <div class="row">
                            <div class="col-sm-6">
                                <p><strong>Contact Infomation</strong></p>
                                <p class="customer-name">{{ customer.name }}</p>
                                <p class="customer-email">{{ customer.email }}</p>
                                <div class="btn-text d-flex">
                                    <a href="">Edit</a>
                                    <a href="">Change Password</a>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <p><strong>Newsletters</strong></p>
                                <p>You are subscribed to "General Subscription".</p>
                                <div class="btn-text d-flex">
                                    <a href="">Edit</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="profile-content-item">
                        <h3 class="ttl-5">Address book</h3>
                        <div class="row">
                            <div class="col-sm-6" id="default-address">
                                <p><strong>Default Address</strong></p>
                                {%- if customer.default_address != blank -%}
                                    {{ customer.default_address | format_address }}
                                {%- else -%}
                                    <p>You have not set a default billing address.</p>
                                {%- endif -%}
                                <div class="btn-text d-flex">
                                    <a href="javascript:void(0)">Edit Address</a>
                                </div>
                            </div>
                            {%- render 'edit-address-form', customer.default_address -%}
                            <div class="col-sm-6" id="list-address"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript">
'use strict';
var Account = {};

window.addEventListener('load', async event => {
    Account.Content = document.querySelector('.profile-content');
    Account.ListAddress = `{{ customer.addresses | json }}`;
    Account.WrapListAddress = Account.Content.querySelector('#list-address');

    if (Account.ListAddress) {
        var list = '<p><strong>List Address</strong></p>';

        JSON.parse(Account.ListAddress).forEach(e => {
            const address = JSON.stringify(e);

            if (!e.default) {
                var details = [];
                details.push(e.name);
                details.push(e.company);
                details.push(e.address1);
                details.push(e.address2);
                details.push(`${e.city} ${e.province_code} ${e.zip}`);
                details.push(e.country);

                list += details.join("<br/>");
                list += `
                    <div class="btn-text d-flex" data-address-id="${e.id}" data-address="${address}">
                        <a href="javascript:void(0)" onclick="ShowEditForm(this)">Edit Address</a>
                    </div>
                    <hr/>
                `;
            }
        });

        Account.WrapListAddress.innerHTML = list;
    } else {
        Account.WrapListAddress.innerHTML = `
            <p>You have not set a default shipping address.</p>
            <div class="btn-text d-flex">
                <a href="javascript:void(0)">Add new</a>
            </div>
        `;
    }
});

const ShowEditForm = (e) => {
    var Id = e.parentElement.dataset.addressId,
        Address = e.parentElement.dataset.address;

    var Form = document.createElement('form');
    Form.setAttribute('method', 'POST');
    Form.setAttribute('action', `/account/address/${Id}`);
};
</script>