<section class="section-content-first">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="menu-profile-wrap">
                    <ul class="menu-profile">
                        <li><a href=""><span class="icon"><i class="fa fa-user" aria-hidden="true"></i></span>Account Dashboard</a></li>
                        <!-- TODO -->
                        <li><a href=""><span class="icon"><i class="fa fa-shopping-cart" aria-hidden="true"></i></span>My orders</a></li> 
                        <li><a href=""><span class="icon"><i class="fa fa-heart" aria-hidden="true"></i></span>Wish List</a></li>
                        <li><a href=""><span class="icon"><i class="fa fa-id-card-o" aria-hidden="true"></i></span>Store Credit</a></li>
                        <li><a href=""><span class="icon"><i class="fa fa-credit-card-alt" aria-hidden="true"></i></span>Payment Data</a></li>
                        <li><a href="{{ routes.account_logout_url }}"><span class="icon"><i class="fa fa-sign-out" aria-hidden="true"></i></span>Log Out</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="profile-content">
                    <h3 class="ttl-4">Account Dashboard</h3>
                    <div class="profile-content-item">
                        <h3 class="ttl-5">Account Infomation</h3>   
                        <div class="row">
                            <div class="col-sm-6">
                                <p><strong>Contact Infomation</strong></p>
                                <p class="customer-name">{{ customer.name }}</p>
                                <p class="customer-email">{{ customer.email }}</p>
                                <!-- TODO -->
                                <div class="btn-text d-flex">
                                    <a href="">Edit</a>
                                    <a href="">Change Password</a>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <!-- TODO -->
                                <p><strong>Newsletters</strong></p>
                                <p>You are subscribed to "General Subscription".</p>
                                <div class="btn-text d-flex">
                                    <a href="">Edit</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="profile-content-item">
                        <h3 class="ttl-5">Address book</h3>
                        <div class="wrap-list-address">
                            <div class="row">
                                <div class="col-sm-6" id="default-address">
                                    <p><strong>Default Address</strong></p>
                                    {%- if customer.default_address != blank -%}
                                        {{ customer.default_address | format_address }}
                                        <div class="btn-text d-flex" data-address-id="{{ customer.default_address.id }}" data-address='{{ customer.default_address | json }}'>
                                            <a href="javascript:void(0)" onclick="ShowEditForm(this)">Edit</a>
                                        </div>
                                    {%- else -%}
                                        <p>You have not set a default billing address.</p>
                                    {%- endif -%}
                                </div>
                                <div class="col-sm-6 list-address"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript">
'use strict';
var Account = {};

window.addEventListener('load', async event => {
    Account.Content = document.querySelector('.profile-content');
    Account.Address = `{{ customer.addresses | json }}`;
    Account.ListAddress = Account.Content.querySelector('.list-address');
    Account.WrapListAddress = Account.Content.querySelector('.wrap-list-address');

    if (Account.Address) {
        var list = '<p><strong>List Address</strong></p>';

        JSON.parse(Account.Address).forEach(e => {
            const address = JSON.stringify(e);

            if (!e.default) {
                var details = [];
                details.push(e.name);
                details.push(e.company);
                details.push(e.address1);
                details.push(e.address2);
                details.push(`${e.city} ${e.province_code} ${e.zip}`);
                details.push(e.country);

                list += details.join("<br/>");
                list += `
                    <div class="btn-text d-flex" data-address-id="${e.id}" data-address='${address}'>
                        <a href="javascript:void(0)" onclick="ShowEditForm(this)">Edit</a>
                    </div>
                    <hr/>
                `;
            }
        });

        Account.ListAddress.innerHTML = list;
    } else {
        Account.ListAddress.innerHTML = `
            <p>You have not set a default shipping address.</p>
            <div class="btn-text d-flex">
                <a href="javascript:void(0)">Add new</a>
            </div>
        `;
    }
});

const ShowEditForm = async (e) => {
    var Id = e.parentElement.dataset.addressId,
        Address = e.parentElement.dataset.address;

    var Form = GenerateEditForm(JSON.parse(Address));
    await Account.WrapListAddress.insertAdjacentHTML('beforeend', Form);
    Account.WrapListAddress.firstElementChild.style.display = 'none';

    // selectedIndex
    var countries = Account.Content.querySelector(`#AddressCountry_${Id}`);
    countries && await SelectedCountry(countries, Id);
};

const onCancelEditForm = Id => {
    document.querySelector(`form#address_form_${Id}`)
        && document.querySelector(`form#address_form_${Id}`).remove();
    Account.WrapListAddress.firstElementChild.style.display = 'flex';
};

const GenerateProvices = (e, Id) => {
    var provinces = (e.options[e.selectedIndex]).getAttribute('data-provinces'),
        Provinces = Account.Content.querySelector(`#AddressProvinceContainer_${Id}`),
        WrapProvinces = Provinces.closest('.address-province');
    
    Provinces.innerHTML = '';
        
    if (JSON.parse(provinces).length) {
        JSON.parse(provinces).forEach(e => {
            var i = document.createElement('option');
            i.value = e[0];
            i.selected = Provinces.dataset.default == e[0];
            i.innerHTML = e[1];
            Provinces.appendChild(i);
        });
        WrapProvinces.classList.remove('d-none');
    } else {
        WrapProvinces.classList.add('d-none');
    }
};
  
const SelectedCountry = (e, Id) => {
    var sel = e.dataset.default;

    for (var i = 0; i <= e.options.length; i++) {
        var This = e.options[i];

        if (sel == This.value || sel == This.innerHTML) {
            e.selectedIndex = i;
            break;
        }
    }

    GenerateProvices(e, Id);
};

const GenerateEditForm = (address) => {
    var Id = address.id;
    var form = `
        <form method="post" action="/account/addresses/${Id}" id="address_form_${Id}" accept-charset="UTF-8">
            <input type="hidden" name="form_type" value="customer_address">
            <input type="hidden" name="utf8" value="✓">

            <div class="shipping__form">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="AddressFirstName_${Id}">First name</label>
                            <input 
                                id="AddressFirstName_${Id}"
                                type="text"
                                name="address[first_name]" 
                                value="${address.first_name}" 
                                class="form-control form-control-line address_form" 
                            />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="AddressLastName_${Id}">Last Name</label>
                            <input 
                                id="AddressLastName_${Id}"
                                type="text"  
                                name="address[last_name]" 
                                value="${address.last_name}" 
                                class="form-control form-control-line address_form"
                            />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="AddressCompany_${Id}">Company</label>
                            <input 
                                id="AddressCompany_${Id}"
                                type="text"  
                                name="address[company]" 
                                value="${address.company}"
                                class="form-control form-control-line address_form"
                            />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="AddressAddress1_${Id}">Address</label>
                            <input 
                                id="AddressAddress1_${Id}"
                                type="text"  
                                name="address[address1]" 
                                value="${address.address1}"
                                class="form-control form-control-line address_form"
                            />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="AddressAddress2_${Id}">Apartment</label>
                            <input 
                                id="AddressAddress2_${Id}"
                                type="text"  
                                name="address[address2]" 
                                value="${address.address2}"
                                class="form-control form-control-line address_form"
                            />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="AddressCity_${Id}">City</label>
                            <input 
                                id="AddressCity_${Id}"
                                type="text"  
                                name="address[city]" 
                                value="${address.address2}"
                                class="form-control form-control-line address_form"
                            />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="AddressCountry_${Id}">Country<span class="txt-error">*</span></label>
                            <select 
                                onchange="GenerateProvices(this, ${Id})"
                                id="AddressCountry_${Id}" 
                                name="address[country]" 
                                class="form-control form-control-line address_form" 
                                data-default="${address.country}" 
                                data-address-id="${Id}" 
                                autocomplete="country">
                                {{ all_country_option_tags }}
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6 address-province d-none">
                        <div class="form-group">
                            <label for="AddressProvinceContainer_${Id}">Province<span class="txt-error">*</span></label>
                            <select 
                                id="AddressProvinceContainer_${Id}" 
                                name="address[province]" 
                                class="form-control form-control-line" 
                                data-default="${address.province}">
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="AddressZip_${Id}">Postal Code/Zip</label>
                            <input 
                                id="AddressZip_${Id}"
                                type="text"  
                                name="address[zip]" 
                                value="${address.zip}"
                                class="form-control form-control-line"
                                autocomplete="postal-code" 
                                data-required="true" 
                            />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="AddressPhone_${Id}">Phone</label>
                            <input 
                                id="AddressPhone_${Id}"
                                type="text"  
                                name="address[phone]" 
                                value="${address.phone}"
                                class="form-control form-control-line"
                                autocomplete="tel" 
                                data-required="true" 
                            />
                        </div>
                    </div>
                </div>
            </div>
            <div class="shipping__btn row">
                <div class="col-sm-6">
                    <div class="shipping__btn btn-submit">
                        <div class="btn-payment"><a href="javascript: document.querySelector('form#address_form_${address.id}').submit()">Edit</a></div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="shipping__btn">
                        <div class="btn-back"><a href="javascript:void(0)" onclick="onCancelEditForm(${Id})">Back</a</div>
                    </div>
                </div>
            </div>
            <input type="hidden" name="_method" value="put"></form>
        </form>
    `;

    return form;
};
</script>