<section class="section-content-other">
    <div class="container">
        <div class="register">
            {% form 'reset_customer_password', id: 'submit_forgot_password' %}
                <div class="row">
                    <div class="col-lg-12">
                        <h4 class="ttl-4 text-center">{{ 'customer.reset_password.title' | t }}</h4>
                        <p class="note text-center">{{ 'customer.reset_password.subtext' | t: email: email }}</p>
                        <div id="form-content">
                            <div class="shipping__form">
                                <div class="form-group">
                                    <label for="customer_password">{{ 'customer.reset_password.password' | t }}<span class="txt-error">*</span></label>
                                    <input type="password" id="customer_password" name="customer[password]" class="form-control form-control-line" data-required="true">
                                </div>
                                <div class="form-group">
                                    <label for="password_confirmation">{{ 'customer.reset_password.password_confirm' | t }}<span class="txt-error">*</span></label>
                                    <input type="password" id="password_confirmation" name="customer[password_confirmation]" class="form-control form-control-line" data-required="true">
                                </div>
                                <sub class="errors-message" style="color: red;"></sub>
                            </div>
                            <div class="shipping__btn text-center">
                                <div class="shipping__btn btn-submit">
                                    <div class="btn-payment"><a href="javascript:void(0)" onclick="ForgotPassword.onSubmit(this);">{{ 'customer.reset_password.submit' | t }}</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endform %}
        </div>
    </div>
</section>
<script type="text/javascript">
'use strict';
var ForgotPassword = {
    Form: document.querySelector('#submit_forgot_password')
};

ForgotPassword.Fields = ForgotPassword.Form.querySelectorAll('input[data-required]');
ForgotPassword.ErrMessage = ForgotPassword.Form.querySelector('.errors-message');

ForgotPassword.onSubmit = async e => {
    var o, w;
    ((o = e.cloneNode(!0)), (w = e.parentElement), (ForgotPassword.ErrMessage.innerText = ''), e.parentElement.innerHTML = `{%- render 'icon-loading' -%}`);

    try {
        ForgotPassword.Fields.forEach(e => {
            if (e.value) e.style.borderColor = "#ACB1C6";
            else throw ((e.style.borderColor = "red"), `{{ 'customer.reset_password.error.require' | t }}`);
        });

        if (ForgotPassword.Fields[0].value.length < 8) throw ((ForgotPassword.Fields[0].style.borderColor = "red"), `{{ 'customer.reset_password.error.password_least' | t }}`);
        else ForgotPassword.Fields[0].style.borderColor = "#ACB1C6";

        if (ForgotPassword.Fields[0].value === ForgotPassword.Fields[1].value) ForgotPassword.Fields[1].style.borderColor = "#ACB1C6";
        else throw ((ForgotPassword.Fields[1].style.borderColor = "red"), `{{ 'customer.reset_password.error.password_not_match' | t }}`);

        var res = await fetch(window.server.host + '/wp-json/tatoo/action/edit-user', {
            method: "POST",
            headers: { "Content-Type": "application/json", Accept: "application/json" },
            body: JSON.stringify({ "email": `{{ email }}`, "field": "reset_password", "password": ForgotPassword.Fields[0].value })
        }).then(res => res.json());

        if (!res.err) ForgotPassword.Form.submit();
        else throw res.message;
    } catch(e) {
        ForgotPassword.ErrMessage.innerText = '*'+e;
        w.innerHTML = o.outerHTML;
    }
};
</script>