<div class="container">
    <div class="row">
        <div class="col-lg-8">
            <div class="shopping-content-info">
                <h4 class="ttl-4 text-center">Shopping Cart</h4>
                {% if cart.item_count > 0 %}
                <div class="table-cart">
                    <table>
                        <thead>
                            <tr>
                                <th>Items</th>
                                <th></th>
                                <th>Price</th>
                                <th>Quantity</th>
                                <th>Subtotal</th>
                            </tr>
                        </thead>
                        <tbody>
                          {% for item in cart.items %}
                            <tr data-line-id="{{ item.id }}">
                                <td class="col1">
                                  {% if item.image != blank %}
                                    <div class="cart-img">{{ item.image | image_url: width: 100, crop: 'center' | image_tag: loading: 'lazy', alt: item.image.alt }}</div>
                                  {% endif %}
                                </td>
                                <td class="col2">
                                    <a href="{{ item.url }}" class="ttl">{{ item.title }}</a>
                                    {% assign options = item.options_with_values %}
                                    {% if options != empty %}
                                      {% for option in options %}
                                        <p><span>{{ option.name }}: </span>{{ option.value }}</p>
                                      {% endfor %}
                                    {% endif %}
                                    <p><small>SKU {{ item.sku | default: 'N/A' }}</small></p>
                                    <!-- TODO -->
                                    <div class="like btn-link-gray">
                                        <a href=""><i class="fa fa-heart-o"></i>Move to Shoppong List</a>
                                    </div>
                                </td>
                                <td class="col3">
                                    <div><p>{{ item.price | money }}</p></div>
                                </td>
                                <td class="col4">
                                    <input type="type" class="qty" value="{{ item.quantity }}">
                                </td>
                                <td class="col5">
                                    <div>
                                        <p>{{ item.line_price | money }}</p>
                                        <div class="btn-link-gray">
                                            <a href="javascript:void(0)" onclick="onDelete(this)" data-id="{{ item.id }}"><i class="fa fa-trash"></i>Delete Product</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                          {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% endif %}
                <div class="table-cart-btn d-flex btn-link-black">
                    {{ 'Continue Shopping' | link_to: '/collections' }}
                    <!-- TODO -->
                    <a href=""><i class="fa fa-refresh"></i>Update Shopping Cart</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="shopping-list">
                <div class="btn-payment"><a href=""><i class="fa fa-lock"></i>Proceed to Payment</a></div>
                <div class="shopping-content" id="accordion">
                    <h3>Summary</h3>
                    <div class="shopping__ttl collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Estimate Shipping and Tax<i class="fa fa-angle-down" aria-hidden="true"></i>
                    </div>
                    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                        <p>Enter your destination to get a shipping estimate.</p>
                        <div class="form-group">
                            <label for="">Country</label>
                            <select name="shipping-country" class="custom-select" onchange="genProvinces(this)">
                                <option value="" selected>Select Countries</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="">Zip/Postal Code</label>
                            <input type="text" name="shipping-postal" class="form-control form-control-line" value="" onblur="getShippingRates(this)">
                            <p class="shipping-note"><small>Fill in your name and address information to see available shipping options</small></p>
                        </div>
                    </div>
                    <hr>
                    {% assign extraFees = all_products['additional-options'] %}
                    {{ extraFees | json }}
                    <div class="shopping__ttl collapsed" data-toggle="collapse" data-target="#extraFees" aria-expanded="true" aria-controls="extraFees">
                        Additional Options<i class="fa fa-angle-down" aria-hidden="true"></i>
                    </div>
                    <div id="extraFees" class="collapse" aria-labelledby="headingOne">
                        <div class="form-group">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck1">
                                <label class="custom-control-label" for="customCheck1"><span>$2.00</span>Insurance</label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck2">
                                <label class="custom-control-label" for="customCheck2"><span>$2.00</span>Insurance</label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck3">
                                <label class="custom-control-label" for="customCheck3"><span>$2.00</span>Insurance</label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck4">
                                <label class="custom-control-label" for="customCheck4"><span>$2.00</span>Insurance</label>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="d-flex shopping-content__sum">
                        <span>Order Total</span>
                        <span>{{ cart.total_price | money }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/services/javascripts/countries.js"></script>
<script type="text/javascript">
'use strict';
var element = {};
element.countries = document.querySelector('select[name=shipping-country]');
element.province = document.querySelector('select[name=shipping-province]');
element.postal = document.querySelector('input[name=shipping-postal]');
element.note = document.querySelector('p.shipping-note');
async function removeItem(data) {
    return await fetch("/cart/change.json", {
        method: "POST",
        headers: {
            "Content-Type": "application/json",
            "Accept": "application/json"
        },
        body: JSON.stringify({
            ...data,
            quantity: 0
        })
    });
}
async function getPrepareShipping(data) {
    const result = await fetch("/cart/prepare_shipping_rates", {
        method: "POST",
        headers: {
            "Content-Type": "application/json",
            "Accept": "application/json"
        },
        body: JSON.stringify({
            shipping_address: data
        })
    });

    var resultJson = await result.json(); 
    return {resultJson: resultJson, result: result};
}
async function getSyncShippingRate() {
    const result = await fetch("/cart/async_shipping_rates", {
        method: "GET",
        headers: {
            "Content-Type": "application/json",
            "Accept": "application/json"
        }
    });

    var resultJson = await result.json();
    return resultJson;
}
function onDelete(e) {
    // add loading
    var id = e.dataset.id;
    e.parentElement.innerHTML = '<div class="fa fa-spinner fa-spin"></div>';

    removeItem({id: id}).then(res => {
        if (res.status == 200) {
            document.querySelector(`tr[data-line-id="${id}"]`).remove();
        }    
    });
}
function genCountries() {
    if (typeof Countries != undefined) {
        var options = '';
        Object.keys(Countries).forEach(key => {
            options += `<option value="${key}">${key}</option>`;
        });
        element.countries.insertAdjacentHTML('beforeend', options);
    }
}
function genProvinces(e) {
    var provinces = Countries[e.value].provinces;
    if (provinces) {
        var province = '<div class="form-group"><select name="shipping-province" class="custom-select" onchange="selectedProvinces(this)">';
        provinces.forEach(e => {
            province += `<option value="${e}">${e}</option>`;
        });
        province += '</select></div>';
        element.countries.parentElement.insertAdjacentHTML('afterend', province);
    } else {
        if (document.querySelector('select[name=shipping-province]')) {
            document.querySelector('select[name=shipping-province]').remove();
        }
        element.postal.focus();
    }
}
async function getShippingRates(e) {
    var data = {
        zip: e.value,
        country: element.countries.value
    };

    document.querySelector('select[name=shipping-province]') &&
        (data.province = document.querySelector('select[name=shipping-province]').value);

    if (data.country) {
        element.postal.disabled = true;
        element.note.insertAdjacentHTML('afterend', '<div class="fa fa-spinner fa-spin"></div>');
        element.note.querySelector('small').innerText = '';
        element.note.querySelector('small').style.color = '';
        let res = await getPrepareShipping(data);
        
        switch (res.result.status) {
            case 422:
                element.note.querySelector('small').style.color = 'red';
                element.note.querySelector('small').innerText = res.resultJson.zip.join(', ');
                break;
            case 202:
                let methods = await getSyncShippingRate();
                if (methods.shipping_rates) {
                    var method = '';
                    methods.shipping_rates.forEach(e => {
                        method += `${e.name}: ${Shopify.formatMoney(e.price)}<br/>`;
                    });
                    element.note.querySelector('small').innerHTML = method;
                }
                break;
            default:
                // statements_def
                break;
        }

        element.postal.disabled = false;
        element.note.nextSibling.remove();
    }
}
function selectedProvinces() {
    element.postal.focus();
}
window.addEventListener('load', () => {
    genCountries();
});
</script>
{% schema %}
  {
    "name": "Cart Page",
    "tag": "section",
    "class": "section-content-other",
    "settings": []
  }
{% endschema %}