{%- assign url = shop.url | append: page.url -%}
<div class="container">
    <div class="notice__content notice__content--other">
        <h2 class="ttl-03">{{ 'sections.contest.result.title' | t }}</h2> 
        <div class="document ContestResults">{%- render 'icon-loading' -%}</div>
        <div class="blog__share">
            <span>{{ 'sections.contest.share' | t }}</span>
            {%- render 'icon-share-twitter', url: url -%}
            {%- render 'icon-share-fb', url: url -%}
        </div>
    </div>
</div>
<script type="text/javascript">
'use strict';
var Result = {};

window.addEventListener('load', async e => {
	Result.Content = document.querySelector('.ContestResults');

	try {
		var res = await fetch(window.server.host + '/wp-json/tatoo/action/get-contest-result', {
			method: "POST"
		})
		.then(res => res.json());

		if (res.err) {
			throw res.message;
		}

		var rs = res.content,
			total = rs.results.length;
		var hiddenEmail = e => {
			var split = e.split('@'),
				part1 = split[0],
				avg = part1.length/2,
				part1 = part1.substring(0, (part1.length - avg)),
				part2 = split[1];

			return part1 + `***@` + part2;
		};

		var o = ``;
		rs.results.forEach((e, i) => {
			o += `
				<tr>
                    <td>${i + 1}</td>
                    <td>${e.owner.data.display_name}</td>
                    <td>${hiddenEmail(e.owner.data.user_email)}</td>
                    <td>${e.prizes}</td>
                </tr>
			`;
		});
		var i = `
			<p>
            	<strong>{{ 'sections.contest.result.competition_name' | t }}: </strong> ${rs.title}
            	<br>
            	<strong>{{ 'sections.contest.result.title' }}:</strong> ${total} {{ 'sections.contest.result.prizes' | t }}.
            </p>
            <h4>{{ 'sections.contest.result.congratulation' | t }} ${total} {{ 'sections.contest.result.prizes' | t }}.</h4>
            <table>
                <tr>
                    <td>{{ 'sections.contest.result.details.rank' | t }}</td>
                    <td>{{ 'sections.contest.result.details.account' | t }}</td>
                    <td>Email</td>
                    <td>{{ 'sections.contest.result.details.prizes' | t }}</td>
                </tr>
                ${o}
            </table>
		`;

		if (rs.from) {
			i += `
				<div class="note">
	                <h4>*{{ 'sections.contest.result.form' | t }}: </h4>
	                ${rs.from.replace(/(?:\r\n|\r|\n)/g, '<br>')}
	            </div>
			`;
		}

        Result.Content.innerHTML = i;
	} catch(e) {
		Result.Content.innerHTML = e;
	}
});
</script>
{% schema %}
{
	"name": "Contest Result Page",
	"tag": "section",
	"class": "notice-page",
	"settings": []
}
{% endschema %}