{% comment %}theme-check-disable UndefinedObject{% endcomment %}
{%- liquid
  assign blocks = section.blocks
  for block in blocks
    case block.type
      when 'socials'
        assign socials = block
      when 'collections'
        assign collections = block
      when 'helpful'
        assign helpful = block
    endcase
  endfor
-%}
<footer class="footer">
    <div class="container">
        <div class="footer-logo">
            {{ 'logo-footer.png' | asset_url | img_tag: shop.name }}
        </div>
        <div class="row">
            <div class="col-lg-3 col-6 orderft-1">
                <h3>CONTACT US</h3>
                <table>
                    <tr>
                        <td>{{ 'phone.svg' | asset_url | img_tag: shop.name }}</td>
                        <td><a style="text-decoration: none; color: #000;" href="tel:+1 4077 507 278">+1 4077 507 278</a><br>(9am to 5pm ET Mon - Fri)</td>
                    </tr>
                    <tr>
                        <td>{{ 'email.svg' | asset_url | img_tag }}</td>
                        <td><a style="text-decoration: none; color: #000;" href="mailto:inknft@gmail.com"></a>inknft@gmail.com</td>
                    </tr>
                </table>
            </div>
            {% assign collections = collections.settings.collection %}
            {% if collections != empty %}
            <div class="col-lg-2 col-6 orderft-3">
                <h3>SHOP</h3>
                <ul>
                    {% for col in collections %}
                    <li><a href="{{ '/collections' | append: '#' | append: col.handle }}">{{ col.title | remove: '[CATEGORY]' | remove: '[BRAND]' }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
            
            {% assign helpful = helpful.settings.help %}
            {% if helpful != empty %}
            <div class="col-lg-3 col-6 orderft-4">
                <h3>HELPFUL LINKS</h3>
                <ul>
                    {% for help in helpful.links %}
                    <li><a href="{{ help.url }}">{{ help.title }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
            
            <div class="col-lg-4 col-6 orderft-2">
                <h3>FOLLOW US</h3>
                <div class="share">
                    <a href="{{ socials.settings.fb }}" target="_blank">{{ 'facebook.svg' | asset_url | img_tag }}</a>
                    <a href="{{ socials.settings.ins }}" target="_blank">{{ 'instagram.svg' | asset_url | img_tag }}</a>
                    <a href="{{ socials.settings.tik }}" target="_blank">{{ 'tik-tok.svg' | asset_url | img_tag }}</a>
                    <a href="{{ socials.settings.yt }}" target="_blank">{{ 'youtube.svg' | asset_url | img_tag }}</a>
                </div>
                <div class="d-sm-block d-none">
                    <h3>payment methods</h3>
                    <div class="paymen">
                        {{ 'paymen_01.svg' | asset_url | img_tag }}
                        {{ 'paymen_02.svg' | asset_url | img_tag }}
                        {{ 'paymen_03.svg' | asset_url | img_tag }}
                        {{ 'paymen_04.svg' | asset_url | img_tag }}
                    </div>
                </div>
            </div>
        </div>
        <div class="d-sm-none mt-30">
            <h3>payment methods</h3>
            <div class="paymen">
                {{ 'paymen_01.svg' | asset_url | img_tag }}
                {{ 'paymen_02.svg' | asset_url | img_tag }}
                {{ 'paymen_03.svg' | asset_url | img_tag }}
                {{ 'paymen_04.svg' | asset_url | img_tag }}
            </div>
        </div>
    </div>
    <div class="copyright">
        <div class="container">
            <p>Copyright 2022 INKNFT. All Rights Reserved. Website Developed By A Wesbite</p>
        </div>
    </div>
</footer>
{% render 'cart-popup' %}
{% render 'login-popup' %}
{% schema %}
{
    "name": "Footer",
    "blocks": [
        {
            "type": "collections",
            "name": "Shop",
            "limit": 1,
            "settings": [
                {
                    "id": "collection",
                    "type": "collection_list",
                    "label": "Add collection"
                }
            ]
        },
        {
            "type": "helpful",
            "name": "Helpful Links",
            "limit": 1,
            "settings": [
                {
                    "id": "help",
                    "type": "link_list",
                    "label": "Add link"
                }
            ]
        },
        {
            "type": "socials",
            "name": "Follow Us",
            "limit": 1,
            "settings": [
                {
                    "id": "fb",
                    "type": "url",
                    "label": "Facebook"
                },
                {
                    "id": "ins",
                    "type": "url",
                    "label": "Instagram"
                },
                {
                    "id": "tik",
                    "type": "url",
                    "label": "Tik-tok"
                },
                {
                    "id": "yt",
                    "type": "url",
                    "label": "Youtube"
                }
            ]
        }
    ],
    "settings": []
}
{% endschema %}