<header class="header">
    <nav class="header__nav d-none d-md-block">
        <div class="container">
            <ul class="header__lang">
                <li><a href="">{{ 'flag_01.png' | asset_url | img_tag: 'Vietnamese' }} Vietnamese</a></li>
                <li><a href="">{{ 'flag_02.png' | asset_url | img_tag: 'English' }} English</a></li>
            </ul>
        </div>
    </nav>
    <div class="header__inner">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" width="30" height="30" focusable="false">
                    <title>Menu</title>
                    <path stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M4 7h22M4 15h22M4 23h22"></path>
                </svg>
            </button>
            <div class="row">
                <div class="col-md-3 col-sm-12">
                    <div class="header__logo">
                        {{ 'logo.png' | asset_url | img_tag: shop.name | link_to: shop.secure_url }}
                    </div>
                </div>
                <div class="col-lg-5 col-md-6 col-sm-12">
                    <div class="form">
                        <form>
                            <div class="form-group">
                                <!-- TODO -->
                                <input type="text" class="form-control" placeholder="Search...">
                                <button class="btn btn-search"></button>
                                <span class="close"></span>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-lg-4 col-md-3 header__link">
                    <ul class="d-flex align-items-center justify-content-end">
                        <li class="d-none d-md-block">
                            <i class="icon-phone"></i>
                            <a href="tel:+1 4077 507 278">+1 4077 507 278</a>
                        </li>
                        <li>
                            {% if customer %}
                                <!-- TODO: insert user avater -->
                            {% else %}
                                <i class="icon-user"></i>
                                {{ 'Login' | link_to: routes.account_login_url }}
                            {% endif %}
                        </li>
                        <li>
                            <a href="javascript:void(0)" class="js-cart" data-nav="cart"><i class="icon-card"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="header__menu navbar navbar-expand-md">
                <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                    <button class="js-close-menu d-sm-none"></button>
                    <ul class="navbar-nav">
                        <li class="nav-item nav-item-main">
                            <a class="nav-link" href="javascript:void(0)">Retail / <span>Wholesale</span></a>
                        </li>
                        <!-- TODO -->
                        {{ template }}
                        {%liquid
                            assign menu = linklists['categories'].links 
                            if template == 'collections'
                                assign action = "onclick='getPostbyHash(this)'"
                            else
                                assign action = ''
                            endif
                        %}
                        {% if menu != empty %}
                          {% for m in menu %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ '/collections#' | append: m.handle | remove: 'category' }}" {{ action }}>{{ m.title | remove: '[CATEGORY]' }}</a>
                            </li>
                          {% endfor %}
                        {% endif %}
                    </ul>
                    <div class="header__quicklink">
                        <ul>
                            <li>
                                <i class="icon-phone"></i>
                                <a href="tel:+1 4077 507 278">+1 4077 507 278</a>
                            </li>
                            <li>
                                <i class="icon-email"></i>
                                <a href="mailto: inknft@gmail.com">inknft@gmail.com</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>