{% liquid
	assign section_class = 'homepage-slide'
%}
<section class="top-banner js-slider-top {{ section_class }}">
    <div class="top-banner-item">
        <div class="d-flex align-items-center container">
            <div class="top-banner-item__info">
                <h3>Professional Tattoo Artist</h3>
                <h4>INKNFT</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                    labore et
                    dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco </p>
                <div class="top-banner-item__btn btn-link">
                    <a href="">Read more</a>
                </div>
            </div>
        </div>
        <div class="top-banner-item__img">
            <img src="{{ 'slider01.png' | asset_url }}" alt="" class="d-none d-md-block">
            <img src="{{ 'slider01_sp.png' | asset_url }}" alt="" class="d-md-none">
        </div>
    </div>
    <div class="top-banner-item">
        <div class="top-banner-item__img">
            <img src="{{ 'slider01.png' | asset_url }}" alt="" class="d-none d-md-block">
            <img src="{{ 'slider01_sp.png' | asset_url }}" alt="" class="d-md-none">
        </div>
    </div>
</section>

{% schema %}
{
	"name": "Homepage Slideshow",
	"blocks": [
		{
			"type": "slide",
			"name": "Homepage Slideshow",
			"settings": [
				// Title
				{
					"id": "slide_title",
					"type": "text",
					"label": "Title"
				},
				// Subtitle
				{
					"id": "slide_subtitle",
					"type": "text",
					"label": "Subtitle"
				},
				// Description
				{
					"id": "slide_description",
					"type": "textarea",
					"label": "Description"
				},
				// CTA
				{
					"id": "slide_cta",
					"type": "url",
					"label": "Read more"
				},
				// Thumbnail
				{
					// for Desktop
					"id": "slide_thumbnail_desktop",
					"type": "image_picker",
					"label": "Desktop thumbnail"
				},
				{
					// for Desktop
					"id": "slide_thumbnail_mobile",
					"type": "image_picker",
					"label": "Mobile thumbnail"
				}
			]
		}
	]
}
{% endschema %}