{% assign categories = section.settings.featured_categories %}
{% if categories != blank %}
<div class="container">
    <div class="section-content-child">
        <h2 class="ttl-01">{{ 'sections.homepage.category.title' | t }}</h2>
        <div class="top-shop">
            <div class="row">
                {% for category in categories %}
                    {% assign link = '/collections#' | append: category.handle %}
                    <div class="col-6 col-md-4 col-lg-2">
                        <div class="top-shop__item">
                            {% assign thumbnail = category.image %}
                            {% if thumbnail %}
                            <div class="top-shop__item__img">
                                <a href="{{ request.locale.root_url | append: link }}">
                                {{ thumbnail
                                | image_url: width: 150, crop: 'center'
                                | image_tag: loading: 'lazy', alt: thumbnail.alt
                                }}
                                </a>
                            </div>
                            {% endif %}
                            <p>{{ category.title | escape | remove: "[CATEGORY]" | link_to: link }}</p>
                            <div class="top-shop__item__btn btn-link">
                                <a href="{{ request.locale.root_url | append: link }}">
                                    {{ 'general.view_all' | t | link_to: link }}
                                </a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endif %}

{% schema %}
{
    "name": "Shop By Category",
    "tag": "section",
    "class": "section-content-first",
    "settings": [
        {
            "id": "featured_categories",
            "type": "collection_list",
            "label": "List categories",
            "limit": 6
        }
    ]
}
{% endschema %}