<div class="blog__mv">
    {% if article.image %}
      <img src="{{ article | img_url: '1680x665', crop: 'center', scale: 2 }}" alt="{{ article.title }}"> 
    {% endif %}
</div>
<div class="container">
    <div class="blog__content blog__content--detail">
        {%- assign blog = article.handle | split: '/'  -%}
        {%- assign blogurl = request.locale.root_url | append: 'blogs/' | append: blog[0] -%}
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ shop.secure_url }}">{{ 'blogs.article.home' | t }}</a></li> 
            <li class="breadcrumb-item active" aria-current="page"><a href="{{ blogurl }}">{{ 'blogs.article.blog' | t }}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ article.title }}</li>
        </ol>
        <div class="blog__content__inner">
            
        <h2 class="blog__ttl02">{{ article.title }}</h2>
        <h3 class="blog__lead">{{ article.excerpt }}</h3>
        <div class="row author">
            <div class="col-5"><i class="fa fa-user-o"></i>by {{ article.author }}</div>
            <div class="col-5"> <i class="fa fa-calendar-check-o"></i>{{ article.published_at | date: '%B %d, %Y' }}</div>
        </div>
        <div class="document">
            {{ article.content }}
        </div>
        <hr>
        <div class="blog__share">
            {%- assign url = shop.url | append: article.url -%}
            <span>{{ 'blogs.article.share' | t }}</span>
            {%- render 'icon-share-twitter', url: url -%}
            {%- render 'icon-share-fb', url: url -%}
        </div>
    </div> </div>
</div>
{% schema %}
{
    "name": "Blog Details",
    "class": "blog-page",
    "settings": []
}
{% endschema %}