<div class="blog__mv">
    {% if article.image %}
      <img src="{{ article | img_url: '1680x665', crop: 'center', scale: 2 }}" alt="{{ article.title }}">
    {% endif %}
</div>
<div class="container">
    <div class="blog__content blog__content--detail">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ shop.secure_url }}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Blog</li>
        </ol>
        <div class="blog__content__inner">

       
        <h2 class="blog__ttl02">{{ article.title }}</h2>
        <h3 class="blog__lead">{{ article.excerpt }}</h3>
        <div class="row author">
            <div class="col-5">
                <i class="fa fa-user-o"></i>by {{ article.author }}
            </div>
            <div class="col-5"> <i class="fa fa-calendar-check-o"></i>{{ article.published_at | date: '%B %d, %Y' }}
            </div>
            <div class="col-2"> <i class="fa fa-comment-o"></i></div>
        </div>
        <div class="document">
            {{ article.content }}
        </div>
        <hr>
        <div class="blog__share">
            <span>Share</span>
            <a href=""> <img src="./assets/images/share_01.svg" alt=""></a>
            <a href=""> <img src="./assets/images/share_02.svg" alt=""></a>
            <a href=""> <img src="./assets/images/share_03.svg" alt=""></a>
        </div>
    </div> </div>
</div>
{% schema %}
{
    "name": "Blog Details",
    "class": "blog-page",
    "settings": []
}
{% endschema %}