{% liquid
    assign collections_image = product.images
    assign brands = product | where: "collections", "[BRAND]"
    echo brands | json
%}
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="product-detail">
                <div class="js-product-detail">
                    <!-- collections image -->
                    {% if collections_image != empty %}
                        {% for image in collections_image %}
                            <div class="product-detail-item">
                                {{ image
                                | image_url: width: 500, crop: 'center'
                                | image_tag: loading: 'lazy', alt: image.alt 
                                }}
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="js-product-detail-nav thumb-nav">
                    <!-- collections image -->
                    {% if collections_image != empty %}
                        {% for image in collections_image %}
                            <div>
                                <div class="thumb-nav-item">
                                    {{ image
                                    | image_url: width: 150, crop: 'center'
                                    | image_tag: loading: 'lazy', alt: image.alt 
                                    }}
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <h3 class="ttl-03">{{ product.title | escape }}</h3>
            <div class="row">
                <div class="col-12">
                    <div class="rating">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="rating__text">(11 reviews)</span>
                    </div>
                </div>
                <!-- <div class="col-6">
                    <div class="rating__write">
                        <a href=""><i class="icon-write"></i>Write a review</a>
                    </div>
                </div> -->
            </div>
            <div class="product-detail__info">
                <div class="txt-sku">SKU UR287-ANOD</div>
                <div class="des">
                    <p><span class="name">Brand: </span>Pleasures</p>
                    <p><span class="name">Material: </span>Titanium 6Al-4V-Eli ASTM F-136</p>
                </div>
                <div class="price">{{ product.price | money }}</div>
            </div>
            <div class="product-detail__cart d-flex">
                <div class="detail-qty">
                    <a href="#" class="qty-down"><i class="fa fa-angle-up"></i></a>
                    <input type="text" name="quantity" class="qty-val" value="1" min="1">
                    <a href="#" class="qty-up"><i class="fa fa-angle-down"></i></a>
                </div>
                <div class="btn-link">
                    <a href="">Add to card</a>
                </div>
                <div class="d-flex">
                  <a aria-label="Add To Wishlist" class="action-btn"><i class="fa fa-heart-o"></i></a>
                  <a aria-label="" class="action-btn"><i class="icon-compare"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="product-detail__content">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Description</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Reviews</a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                <div class="document">
                  {{ product.content }}
                </div>
            </div>
            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                updating
            </div>
        </div>
    </div>
</div>
{% schema %}
  {
    "name": "Product Details",
    "tag": "section",
    "class": "section-content",
    "settings": []
  }
{% endschema %}