<div class="container">
    <div class="row">
        <div class="col-lg-3 order-ft-02">
            <h3 class="ttl-02">
                <i class="icon-filter"></i>Filter
            </h3>
            <!-- Filters -->
            {% assign categories = linklists['categories'].links %}
            {% if categories != empty %}
            <ul class="fillter-menu">
                {% for category in categories %}
                  {% liquid
                    assign name = category.title | remove: '[CATEGORY]'
                    assign childs = category.links
                    assign totalPost = category.object.products_count
                  %}
                  {% if childs != empty %}
                    <li class="has-child">
                      <a href="{{ category.handle | remove: 'category' }}" class="js-menu-child" data-total-post="{{ totalPost }}">{{ name }}</a>
                        <div class="has-child-sub">
                            {% for child in childs %}
                              {% liquid
                                assign cname = child.title | remove: '[CATEGORY]'
                                assign handle = child.handle
                                assign totals = child.object.products_count
                              %}
                              <div class="custom-control custom-radio">
                                  <input type="radio" id="{{ handle }}" class="custom-control-input" value="{{ handle }}" data-total-post="{{ totals }}" onclick="getSubCategory(this)">
                                  <label class="custom-control-label" for="{{ handle }}">{{ cname }}</label>
                              </div>
                            {% endfor %}
                        </div>
                    </li>
                  {% else %}
                    <li><a href="{{ category.handle | remove: 'category' }}" data-total-post="{{ totalPost }}">{{ name }}</a></li>
                  {% endif %}
                {% endfor %}
            </ul>
            {% else %}
              No filter categories!
            {% endif %}
        </div>
        <div class="col-lg-9 order-ft-01">
            <div class="row product-action">
                <div class="col-md-4 col-6 order-ft-02">
                    <div class="product-dropdown">
                        <span class="product-dropdown-label">Show per page</span>
                        <div class="dropdown">
                            <button class="dropdown-toggle" type="button" id="numberProductsShow" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">10</button>
                            <div class="dropdown-menu" aria-labelledby="numberProductsShow">
                                <a class="dropdown-item" href="#">8</a>
                                <a class="dropdown-item" href="#">16</a>
                                <a class="dropdown-item" href="#">24</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Sort -->
                <div class="col-md-4 order-ft-01">
                    <div class="product-dropdown">
                        <span class="product-dropdown-label">Sort by</span>
                        <div class="dropdown">
                            <button class="dropdown-toggle" type="button" id="sorting" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Relevance</button>
                            <div class="dropdown-menu" aria-labelledby="sorting">
                              <a class="dropdown-item" href="#">Relevance</a>
                              <a class="dropdown-item" href="#">Name</a>
                              <a class="dropdown-item" href="#">Price</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Paginate -->
                <div class="col-md-4 col-6 order-ft-03">
                    <ul class="pagination"></ul>
                </div>
            </div>

            <div class="top-product product-list ProductsList">{%- render 'icon-loading' -%}</div>
        </div>
    </div>
</div>
<script type="text/javascript">
'use strict';
var Products = {
    Result: [],
    Page: 1,
    Perpage: 8
};
Products.List = document.querySelector('.ProductsList');

Products.Filter = (by, data) => {
    var b, r = [];
    "wholesale" != (b = localStorage.getItem("Customer_Mode") || "retail") || (Shopify.User.caps && Shopify.User.caps.wholesale) || (b = "retail");

    switch (by) {
        case 'customer':
            r = data.filter(i => {
                var o;
                if (i.options.find(i => i.name == 'Customer')) {
                    o = i.variants.find(i => {
                        if (i.title.localeCompare(b) && i.available) {
                            return i;
                        }
                    });
                } else {
                    o = i.variants.find(i => {
                        if (i.available) {
                            return i;
                        }
                    });
                }

                if (!o) {
                    // if there is no available variant, pick the first one
                    o = i.variants[0];
                }

                i.id = o.id;
                i.price = o.price;
                i.available = o.available;

                return i;
            });
            break;
        default:
            // statements_def
            break;
    }

    return r;
};

Products.Paginate = page => {

};

Products.ShowResults = () => {
    if (Products.Result) {
        var from = (Products.Page - 1) * Products.Perpage,
            to = Products.Page * Products.Perpage,
            i;
        
        if ((i = Products.Result.slice(from, to)).length) {
            var o = `<div class="row">`;
            i.forEach(e => {
                var image = e.images[0] ? e.images[0].src : '';
                o += `
                <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                    <div class="top-product__item">
                        <a href="/products/${e.handle}">
                            <div class="top-product__item__img lazy" style="max-height: 134px;">
                                <img src="${image}" alt="${e.title}">
                            </div>
                            <p class="ttl">${e.title}</p>
                            <p class="price">${Shopify.formatMoney(e.price)}</p>
                        </a>
                        <div class="product-nav">
                            <a href="javascript:void(0)" onclick="addToCart(this)" data-variant-id="${e.id}"><i class="icon-cart-01"></i></a>
                        </div>
                    </div>
                </div>
                `;
            });
            o += `</div>`;

            Products.List.innerHTML = o;
            document.dispatchEvent(window.Effect);
        }
    }
};

document.addEventListener('Sync', async e => {
    // get all products
    var result = await fetch('/products.json').then(res => res.json()),
        o,
        i;

    if ((i = (o = result.products).filter(i => 'Gift Cards' != i.product_type)).length) {
        i = Products.Filter('customer', i);
        Products.Result = i;
        Products.ShowResults();
    }
});
</script>
{% schema %}
  {
    "name": "List Products",
    "tag": "section",
    "class": "section-content",
    "settings": []
  }
{% endschema %}