{%- assign images = product.images -%}

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="product-detail">
                <div class="js-product-detail">
                    <!-- collections image -->
                    {% if images != empty %}
                        {% for image in images %}
                            <div class="product-detail-item">
                                {{ image
                                | image_url: width: 500, crop: 'center'
                                | image_tag: loading: 'lazy', alt: image.alt 
                                }}
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="js-product-detail-nav thumb-nav">
                    <!-- collections image -->
                    {% if images != empty %}
                        {% for image in images %}
                            <div>
                                <div class="thumb-nav-item">
                                    {{ image
                                    | image_url: width: 150, crop: 'center'
                                    | image_tag: loading: 'lazy', alt: image.alt 
                                    }}
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <h3 class="ttl-03">{{ product.title | escape }}</h3>
            <div class="ProductDetail">{%- render 'icon-loading' -%}</div>
        </div>
    </div>
    <div class="product-detail__content">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">{{ 'products.product.description' | t }}</a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                <div class="document">
                  {{ product.content }}
                </div>
            </div>
        </div>
    </div>
</div>

{%- capture data -%}
    {"id": "{{ product.id }}", "url": "{{ product.handle }}", "options": {{ product.options | json }}, "variants": {{ product.variants | json }}}
{%- endcapture -%}

<script type="text/javascript">
'use strict';
var Product = {
    Format: `[{{ data }}]`,
    Detail: document.querySelector('.ProductDetail'),
    Collection: `{{ product.collections | json }}`,
};

Product.Categories = () => {
    var c = [],
        b = [];
    if (Product.Collection) {
        JSON.parse(Product.Collection).forEach(i => {
            if (i.handle.includes('category')) {
                c.push(i.title.replace('[CATEGORY]', ''));
            }

            if (i.handle.includes('brand')) {
                b.push(i.title.replace('[BRAND]', ''));
            }
        });
    }

    var h = `<div class="des">`;

    if (c.length) {
        h += `<p><span class="name">{{ 'products.product.variants.category' | t }}: </span>${c.join(', ')}</p>`;
    }

    if (b.length) {
        h += `<p><span class="name">{{ 'products.product.variants.brand' | t }}: </span>${b.join(', ')}</p>`;
    }

    h += `</div>`;

    return h;
};

document.addEventListener('Sync', () => {
    var i;
    if ((i = JSON.parse(Product.Format))) {
        var a = Shopify.Filter(i),
            h = '';
        h += `
        <div class="product-detail__info">
            <div class="txt-sku">SKU: ${a[0].sku || 'N/A'}</div>
            ${Product.Categories()}
            <div class="price">${Shopify.formatMoney(a[0].price)}</div>
        </div>
        <div class="product-detail__cart d-flex">
            <div class="detail-qty">
                <a href="javascript:void(0)" class="qty-down" onclick="plusQty(this)"><i class="fa fa-angle-up"></i></a>
                <input type="text" name="quantity" class="qty-val" value="1" min="1" max="10">
                <a href="javascript:void(0)" class="qty-up" onclick="minusQty(this)"><i class="fa fa-angle-down"></i></a>
            </div>
            <div class="btn-link">
                <a href="javascript:void(0)" data-variant-id="${a[0].id}" onclick="addToCart(this)">{{ 'products.product.add_to_cart' | t }}</a>
            </div>
        </div>
        `;

        Product.Detail.innerHTML = h;
    }
});
function minusQty(e) {
    var qty = e.previousElementSibling,
        val = qty.value;
    if (parseInt(val) - 1 >= qty.min) {
        qty.value = parseInt(val) - 1;
    }
}
function plusQty(e) {
    var qty = e.nextElementSibling,
        val = qty.value;
    if (parseInt(val) + 1 <= qty.max) {
        qty.value = parseInt(val) + 1;
    }
}
</script>
{% schema %}
  {
    "name": "Product Details",
    "tag": "section",
    "class": "section-content",
    "settings": []
  }
{% endschema %}